<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Task</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main min-h-screen w-screen bg-zinc-900 text-white p-10">
        <div class="link mb-10">
            <a class="px-4 py-2 rounded-full bg-zinc-600" href="/index.ejs">Tasks</a>
        </div>
        <div class="forms relative w-72">
            <form action="" method="post">
                <input class="block w-72 p-5 rounded-md bg-zinc-300 text-zinc-700 outline-none" name="filename" type="text" placeholder="Title...">
                <textarea class="block resize-none p-5 my-3 w-72 min-h-72 rounded-md bg-zinc-300 outline-none" name="filedata" id="" placeholder="write your task..." ></textarea>
                <input class="px-4 py-2 rounded-full bg-zinc-600 relative w-full right-1" type="submit" value="Create Task">
            </form>
        </div>
    </div>
</body>
</html>